<div>    
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Website</th>
            </tr>
        </thead>
        <tbody>
            {% for user in context.userlist %}
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phone }}</td>
                    <td>{{ user.website }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not context.userlist %}<p>{{ 'No users found.'|t }}</p>{% endif %}
    <p><small>last update {{context.timestamp}}</small></p>
    <div>
{% if context.link_to_fetch_version %}
	<a href="{{context.link_to_fetch_version}}">User list with fetch.</a>
{% endif %}
    </div>
</div>